<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lap </title>
</head>
<body>
<!--<a href="/user/create">Create new Lap top</a>-->
<h1>Lap Top</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <th:block th:each="laptop: ${laptops}">
        <tr>
            <td th:text="${laptop.name}"></td>
            <td th:text="${laptop.price}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>