<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
<h1>Danh sach LapTop</h1>
<table border="1px">
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <th:block th:each="c:${laptops}">
        <tr>
            <td th:text="${c.name}"></td>
            <td th:text="${c.price}"></td>
            <td><a th:attr="idLapTop=${c.getId()}" onclick="edit(this)">Edit</a></td>
        </tr>
    </th:block>
</table>
<script>
    function edit(a) {
        let name = prompt("Moi ban nhap ten");
        let price = prompt("Gia tien");
        let laptop = {
            name: name,
            price: price
        }
        let idLapTop = a.getAttribute("idLapTop");
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "PUT",
            data: JSON.stringify(laptop),
            url: "/laptops/edit/"+ idLapTop,
            success: alert("sửa thành công")
        })
        event.preventDefault();
    }
    function showList(url) {
        $.ajax({
            type: "GET",
            url: url,
            success:function (ds) {
                let content= "";
                for (let i = 0; i < ds.length; i++) {
                    content += `<tr><td >${ds[i].name}</td>`+
                        `<td >${dshv[i].province.name}</td>` +
                        `<td><a id="idDelete" href="${ds[i].id}">xoa</a></td>`+
                        `<td><a id="idLapTop" href="${ds[i].id}">edit</a></td>
                        </tr>`
                }
                $('#listLapTop').html(content);
            }
        })
        event.preventDefault();
    }
</script>
</body>
</html>